<h1>Profile page</h1>

<div>
<%if(locals.user.id==profile_user.id) {%>
    <form action="/users/update/<%=profile_user.id%>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" id="" placeholder="Your Name" value="<%=profile_user.name%>" required>
        <input type="text" name="email" id="" placeholder="Your Email" value="<%=profile_user.email%>" required>
       <input type="file" name="avatar" id="" placeholder="Profile Picture">
        <input type="Submit" name="" id="" value="Update">
    </form>
   
    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">

    <p><%= profile_user.name%></p>

<%}else {%>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
    <form action="/friend/create-friend" method="post">
        <input type="hidden" name="userId" id="" value="<%=profile_user._id%>">
        <button id="btn" type="submit"><%if(locals.user.friendships.includes(profile_user._id)) {%>
            Remove Friend
            <%}else {%>
            
                Add Friend
                <%}%>
        </button>
    </form>
<%}%> 
</div>
<div id="profile_user">
    
    <%if(locals.user.id!=profile_user.id) {%>
        <form action="/posts/create-user-profile" id="new-post-form" method="post">
            <h4>POST</h4>
            <textarea name="content"  cols="30" rows="4" placeholder="Ask anything..." required></textarea>
            <input type="hidden" name="profile_user" value="<%=profile_user._id%>">
            <input type="submit" value="submit">
        </form>
    <%}%>
    <div>
    <ul>
    <h4>Ask questions to <strong><%=profile_user.name%></strong></h4>
    <%for(post of allPost) {%>
        <%- include('_post_profile')-%>
        
    <% } %>
    </ul>
    </div>
    <!--<div>
        <h4>All post by <%=profile_user.name%></h4>
        
            <ul>
                <%for(post of allPost) {%>
                <%if(locals.user.id==post.user.id) {%>
                <li>
                    <%=post.content%>
                    <ul>
                        <%for(answer of post.answers) {%>
                            <li>
                                <%=answer.content%>
                                <%=answer.user.name%>
                            </li>
                            <ul>
                                <%for(comment of answer.comments) {%>
                                    <li>
                                        <%=comment.content%>
                                        <%=comment.user.name%>
                                    </li>
                                <%}%>
                            </ul>
                        <%}%>
                    </ul>
                </li>
                <%}%>
            </ul>

        <%}%>
    </div>-->
    
</div>

